:root {
	/* --darkgreen: #08313A; */
	/* --darkgreen: #9e7373; */
	--darkgreen: #444444;
	--darker: #0b0d11;
	--darkest: #dfd8d8;
	--white: #ffffff;
	--red: #BE000C;
	--blue: #08007D;
	--light: #EEE;
	--grey: #534f4f;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: var(--white);
	background-color: var(--darkgreen);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	color: var(--white);
	margin-bottom: 3rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	font-size: 1.1rem;
	font-weight: 700;
	color: rgb(3, 121, 56);
	background-color: white;
	border-radius: 13px;
	cursor: pointer;
	transition: 0.4s;
	box-sizing: border-box;
	padding: 10px 13px;
	border-radius: 5%;
}

#new-task-submit:hover {
	opacity: 0.8;
	background-color:rgb(0, 41, 0);
	color: white;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 30px auto 40px auto;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 10px;
}

.task-list {
	padding: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: #000;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--red);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color: #08007D;
	box-sizing: border-box;
	background-color: white;
	padding: 10px 15px;
	border-radius: 6px;
}

.task .actions .edit:hover{
	color: #fff;
	background-color: #08007D;
}

.task .actions .delete {
	color: #BE000C;
	box-sizing: border-box;
	background-color: white;
	padding: 10px 15px;
	border-radius: 6px;
}

.task .actions .delete:hover{
	color: #fff;
	background-color: #BE000C;
}

main img{
	width: 50%;
}

@media(max-width:425px){
	header h1 {
		font-size: 1.6rem;
	}
	main img {
		width: 100%;
	}
	#new-task-submit {
		font-size: 0.9rem;
		padding: 5px 10px;
	}
}
@media(max-width: 375px){
	#new-task-form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	#new-task-submit {
		font-size: 0.9rem;
		padding: 10px 10px;
		margin-top: 15px;
	}
}